.content {
  width: 1720px;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 1719.9px) {
  .content {
    width: 1440px;
  }
}
@media (max-width: 1439.9px) {
  .content {
    width: 1024px;
  }
}
@media (max-width: 1023.9px) {
  .content {
    width: 768px;
  }
}
@media (max-width: 767.9px) {
  .content {
    width: 100%;
  }
}

.container {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 1719.9px) {
  .container {
    width: 1320px;
  }
}
@media (max-width: 1439.9px) {
  .container {
    width: 904px;
  }
}
@media (max-width: 1023.9px) {
  .container {
    width: 648px;
  }
}
@media (max-width: 767.9px) {
  .container {
    width: 100%;
  }
}

.section__tabs {
  width: 1360px;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 1719.9px) {
  .section__tabs {
    width: 1080px;
  }
}
@media (max-width: 1439.9px) {
  .section__tabs {
    width: 904px;
  }
}
@media (max-width: 1023.9px) {
  .section__tabs {
    width: 648px;
  }
}
@media (max-width: 767.9px) {
  .section__tabs {
    width: 100%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.map__link, .language__link, .language__link--active {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.general {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.header {
  width: 100%;
  height: auto;
}

.footer {
  width: 100%;
  height: auto;
  background: #F5F5FA;
}

.section {
  width: 100%;
  height: auto;
}

.container__header {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  padding-top: 50px;
  padding-bottom: 6px;
  color: #FFFFFF;
}
@media (max-width: 1023.9px) {
  .container__header {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767.9px) {
  .container__header {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.logo {
  grid-column: 1/3;
  grid-row: 1/3;
  display: flex;
  align-items: center;
}
@media (max-width: 1023.9px) {
  .logo {
    order: 2;
    padding-top: 30px;
  }
}
@media (max-width: 767.9px) {
  .logo {
    padding-top: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 767.9px) {
  .logo__image {
    width: 69.3px;
    height: 32px;
  }
}
.logo__image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.burger {
  position: absolute;
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  right: 15px;
}
@media (max-width: 767.9px) {
  .burger {
    display: block;
  }
}
.burger__line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
}
.burger__line:nth-child(1) {
  top: 9px;
}
.burger__line:nth-child(2) {
  top: 15px;
}
.burger__line:nth-child(3) {
  top: 21px;
}

.info {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
}
@media (max-width: 1023.9px) {
  .info {
    order: 1;
    justify-content: flex-start;
  }
}
@media (max-width: 767.9px) {
  .info {
    padding: 10px 0 10px 15px;
    background-color: rgba(245, 245, 250, 0.2);
  }
}
@media (max-width: 1023.9px) {
  .info__address {
    color: #B3B3BA;
  }
}
@media (max-width: 767.9px) {
  .info__address {
    display: none;
  }
}
.info__phone {
  font-weight: 700;
  color: #FFFFFF;
}
.info__fb {
  color: #FFFFFF;
}
@media (max-width: 767.9px) {
  .info__fb {
    display: none;
  }
}
.info__fb:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}

.language {
  display: flex;
  align-items: center;
  gap: 1px;
}
@media (max-width: 767.9px) {
  .language {
    margin-right: auto;
  }
}
.language__link {
  padding: 5px 7px;
  border-radius: 8px;
  color: #FFFFFF;
}
.language__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.language__link--active {
  padding: 5px 7px;
  border-radius: 8px;
  color: #FFFFFF;
  background: #F0145A;
}

.menu {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (max-width: 1023.9px) {
  .menu {
    order: 3;
  }
}
@media (max-width: 767.9px) {
  .menu {
    display: none;
  }
}
.menu__items {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-top: 19px;
}
@media (max-width: 1023.9px) {
  .menu__items {
    justify-content: flex-start;
    padding-top: 30px;
  }
}
.menu__link {
  position: relative;
  font-weight: 700;
  color: #FFFFFF;
}
.menu__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  background-color: #FFFFFF;
}
.menu__link:hover::before {
  width: 100%;
  transition: width 0.3s ease;
}
.menu__link--active {
  position: relative;
  font-weight: 700;
  color: #F0145A;
}
.menu__link--active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  background-color: #F0145A;
}

.section__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}
.section__inner--image {
  position: absolute;
  top: -120px;
  width: 872.3px;
  height: auto;
}
@media (max-width: 1719.9px) {
  .section__inner--image {
    width: 697px;
  }
}
@media (max-width: 1439.9px) {
  .section__inner--image {
    width: 669.9px;
  }
}
@media (max-width: 1023.9px) {
  .section__inner--image {
    width: 893.2px;
    top: -220px;
  }
}
@media (max-width: 767.9px) {
  .section__inner--image {
    width: 523.4px;
    top: -120px;
  }
}

.hero {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 361px;
  padding-bottom: 45px;
}
@media (max-width: 1719.9px) {
  .hero {
    padding-top: 261px;
  }
}
@media (max-width: 1439.9px) {
  .hero {
    padding-top: 245px;
  }
}
@media (max-width: 1023.9px) {
  .hero {
    padding-top: 269px;
  }
}
@media (max-width: 767.9px) {
  .hero {
    padding-top: 129px;
    max-width: 200px;
  }
}
.hero__title {
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 405px;
}
@media (max-width: 1719.9px) {
  .hero__title {
    padding-bottom: 305px;
  }
}
@media (max-width: 1439.9px) {
  .hero__title {
    padding-bottom: 289px;
  }
}
@media (max-width: 1023.9px) {
  .hero__title {
    padding-bottom: 417px;
  }
}
@media (max-width: 767.9px) {
  .hero__title {
    padding-bottom: 159px;
    text-align: center;
  }
}
.hero__image {
  color: #FFFFFF;
}
.hero__image:hover {
  color: #F0145A;
}

.breadcrumps {
  padding: 60px 0;
}
@media (max-width: 767.9px) {
  .breadcrumps {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.breadcrumps__link {
  display: inline-flex;
  align-items: center;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.breadcrumps__link:hover {
  color: #F0145A;
  transition: color 0.3s ease-in-out;
}
.breadcrumps__title {
  font-size: 38px;
  font-weight: 700;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 767.9px) {
  .breadcrumps__title {
    font-size: 30px;
  }
}

.container__assets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1023.9px) {
  .container__assets {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.9px) {
  .container__assets {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767.9px) {
  .assets {
    padding: 0 30px;
  }
}
.assets__title {
  padding-top: 30px;
  font-size: 22px;
  font-weight: 700;
  color: #24A3FF;
}
.assets__text {
  padding-top: 15px;
  line-height: 26px;
  color: #FFFFFF;
}

.assets-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  background-color: #FFFFFF;
  border-radius: 24px;
}

.brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  padding-top: 30px;
  border-radius: 12px;
}
@media (max-width: 1023.9px) {
  .brands {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767.9px) {
  .brands {
    grid-template-columns: 1fr;
  }
}
.brands__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 1023.9px) {
  .brands__image {
    height: 120px;
  }
}
@media (max-width: 767.9px) {
  .brands__image {
    height: auto;
  }
}
@media (max-width: 767.9px) {
  .brands__image--inactive {
    display: none;
  }
}

.frame {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 60px 0 30px;
}
.frame::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E6E6F0;
  top: 30px;
}
@media (max-width: 767.9px) {
  .frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
  }
}

.map {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  gap: 26px;
}
@media (max-width: 767.9px) {
  .map {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.map__address {
  color: #323264;
}
.map__link {
  color: #24A3FF;
}

.copyright {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767.9px) {
  .copyright {
    order: 3;
    padding-top: 30px;
  }
}
.copyright__text {
  color: #B3B3BA;
}

.links {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  padding-top: 21px;
  gap: 26px;
}
@media (max-width: 767.9px) {
  .links {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.links__fb {
  color: #24A3FF;
}
.links__fb:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}
.links__phone {
  font-weight: 700;
  color: #323264;
}
.links__mail {
  font-weight: 700;
  color: #24A3FF;
}
.links__mail:hover {
  color: #F0145A;
  transition: color 0.3s ease;
}

/*# sourceMappingURL=style.css.map */
