@use 'sass:map';

@use './common/breakpoints' as bp;

* * {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.content {
    width: map.get(bp.$widths, 'xl');
    margin-inline: auto;

    @media (max-width: map.get(bp.$grid-breakpoints, 'xl')) {
        width: map.get(bp.$widths, 'lg');
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'lg')) {
        width: map.get(bp.$widths, 'md');
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'md')) {
        width: map.get(bp.$widths, 'sm');
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        width: map.get(bp.$widths, 'xs');
    }
}

.wrapper {
    overflow-x: hidden;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}