@use 'sass:map';

@use './common/fonts';
@use './common/color' as vars;
@use './common/mixins' as mixin;

@use './common/breakpoints' as bp;

* * {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    @extend %fontMain;
}

.content {
    width: map.get(bp.$widths, 'xl');
    margin-inline: auto;

    @media (max-width: map.get(bp.$grid-breakpoints, 'xl')) {
        width: map.get(bp.$widths, 'lg');
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'lg')) {
        width: map.get(bp.$widths, 'md');
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'md')) {
        width: map.get(bp.$widths, 'sm');
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        width: map.get(bp.$widths, 'xs');
    }
}

.wrapper {
    overflow-x: hidden;
    background: vars.$colorMainBackground;
    @include mixin.borderBottom;
}