@use './common/fonts';
@use './common/color' as vars;


*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

body {
    @extend %fontMain;
}

.general {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background: vars.$colorGradient-supersoft;
}

.header {
    width: 100%;
    height: auto;
}


.footer {
    width: 100%;
    height: auto;
    background: vars.$colorGrey;
}

.section {
    width: 100%;
    height: auto;
}
