@use 'sass:map';

@use '../common/breakpoints' as bp;
@use '../common/fonts';
@use '../common/color' as vars;
@use '../common/mixins' as mixin;

.frame {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 60px 0 30px;

    &::after {
        @include mixin.lineFooter;
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        @include mixin.flexColumn;
        align-items: center;
        margin: 0 30px;
    }
}

.map {
    @include mixin.mapGrid;
    @include mixin.alingCenter;
    gap: 26px;

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        order: 1;
        @include mixin.flexColumn;
        gap: 10px;
    }

    &__address {
        color: vars.$colorMain;
    }

    &__link {
        @extend %fontLanguage;
        color: vars.$colorActive;
    }
}

.copyright {
    @include mixin.infoGrid ;
    @include mixin.flexEnd;

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        order: 3;
        padding-top: 30px;
    }

    &__text {
        color: vars.$colorGrey-text;
    }
}

.links {
    @include mixin.linksGrid;
    @include mixin.alingCenter;
    padding-top: 21px;
    gap: 26px;

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        order: 2;
        @include mixin.flexColumn;
        gap: 10px;
    }

    &__fb {
        color: vars.$colorActive;

        &:hover {
            color: vars.$colorAccent;
            transition: color 0.3s ease;
        }
    }

    &__phone {
        font-weight: 700;
        color: vars.$colorMain;
    }

    &__mail {
        font-weight: 700;
        color: vars.$colorActive;

        &:hover {
            color: vars.$colorAccent;
            transition: color 0.3s ease;
        }
    }
}