@use 'sass:map';

@use '../common/fonts';
@use '../common/color' as vars;
@use '../common/mixins' as mixin;
@use '../common/breakpoints' as bp;

.header {
    @include mixin.grid1-3;
    padding: 50px 0 10px;
    color: vars.$colorWhite;
    position: relative;
    z-index: 3;

    @media (max-width: map.get(bp.$grid-breakpoints, 'md')) {
        @include mixin.flexColumn;
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        padding-top: 0;
    }
}

.logo {
    position: relative;
    @include mixin.positionRow1-3;
    @include mixin.alingCenter;

    @media (max-width: map.get(bp.$grid-breakpoints, 'md')) {
        order: 2;
        padding: 30px 0;
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        padding: 15px 10px 10px;
    }

    &__image {

        @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
            width: 69.3px;
            height: 32px;
        }

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease;
        }
    }
}

.logo-inner {
    @include mixin.burger;

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        display: block;
    }

    &__line {
        @include mixin.burgerLine;
        background-color: vars.$colorWhite;

        &:nth-child(1) {
            top: 9px;
        }

        &:nth-child(2) {
            top: 15px;
        }

        &:nth-child(3) {
            top: 21px;
        }
    }
}

.info {
    @include mixin.alingCenter;
    justify-content: flex-end;

    @media (max-width: map.get(bp.$grid-breakpoints, 'md')) {
        order: 1;
        justify-content: flex-start;
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        padding: 10px 15px;
        background-color: rgba(245, 245, 250, 0.2);
    }

    &__address {
        @include mixin.arrow;

        @media (max-width: map.get(bp.$grid-breakpoints, 'md')) {
            color: vars.$colorGrey-text;
        }

        @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
            display: none;
        }
    }

    &__number {
        font-weight: 700;
        color: vars.$colorWhite;
        @include mixin.arrow;
    }

    &__fb {
        color: vars.$colorWhite;

        &:hover {
            color: vars.$colorAccent;
            transition: color 0.3s ease;
        }

        @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
            display: none;
        }
    }
}

.language {
    @include mixin.alingCenter;
    @include mixin.arrow;

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        margin-right: auto;
    }

    &__link {
        padding: 5px 7px;
        @extend %fontLink;
        color: vars.$colorWhite;

        &--active {
            border-radius: 8px;
            background-color: vars.$colorAccent;
        }
    }
}

.menu {
    @include mixin.alingCenter;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 16px;

    @media (max-width: map.get(bp.$grid-breakpoints, 'md')) {
        order: 3;
        justify-content: flex-start;
        padding-top: 0;
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        display: none;
    }

    &__link {
        position: relative;
        font-weight: 700;
        color: vars.$colorWhite;

        &::after {
            @include mixin.linkLine-hover;
            background-color: vars.$colorWhite;
        }

        &:hover::after {
            width: 100%;
            transition: width 0.3s ease;
        }

        &--active {
            position: relative;
            font-weight: 700;
            color: vars.$colorAccent;

            &::after {
                @include mixin.linkLine-active;
                background-color: vars.$colorAccent;
            }
        }
    }
}