@use 'sass:map';

@use '../common/fonts';
@use '../common/color' as vars;
@use '../common/mixins' as mixin;
@use '../common/breakpoints' as bp;

.services {
    @include mixin.gridRepeat3-1;
    gap: 60px;
    margin-bottom: 60px;

    @media (max-width: map.get(bp.$grid-breakpoints, 'md')) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

.services-inner {

    @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
        padding: 0 30px;
    }

    &__title {
        @extend %fontRegular;
        color: vars.$colorActive;
        padding-bottom: 15px;
    }

    &__text {
        line-height: 26px;
        color: vars.$colorWhite;
    }
}

.card {
    @include mixin.displayCenter;
    margin-bottom: 30px;
    width: 92px;
    height: 92px;
    border-radius: 24px;
    background-color: vars.$colorWhite;
}