@use '../common/color' as vars;

.shadow {
    &__before {
        margin-inline: 20px;
        height: 10px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: vars.$colorShadow;
    }

    &__after {
        margin-inline: 40px;
        height: 10px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: vars.$colorShadow-inner;
    }
}