@use '../common/color' as vars;
@use '../common/mixins' as mixin;

.shadow {
    &__before {
        margin-inline: 20px;
        height: 10px;
        @include mixin.borderBottom;
        background-color: vars.$colorShadow;
    }

    &__after {
        margin-inline: 40px;
        height: 10px;
        @include mixin.borderBottom;
        background-color: vars.$colorShadow-inner;
    }
}