$colorGradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);


$colorWhite: #FFFFFF;
$colorActive: #24A3FF;
$colorAccent: #F0145A;

$colorGrey: #F5F5FA;
$colorGrey-text: #B3B3BA;
$colorGrey-separator:#E6E6F0;

$colorMain: #323264;
