%fontLink {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

%fontHero {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
}

%fontBreadcrumps {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

%fontRegular {
    font-size: 22px;
    font-weight: 700;
}