@use "sass:map";

@use '../common/breakpoints' as bp;

@mixin grid1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

@mixin gridRepeat3-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@mixin positionRow1-3 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

@mixin displayCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin alingCenter {
    display: flex;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin linkLine-hover {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
}

@mixin linkLine-active {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;
}

@mixin burger {
    position: absolute;
    content: "";
    display: none;
    width: 32px;
    height: 32px;
    right: 15px;
}

@mixin burgerLine {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 2px;
}

@mixin arrow {
    display: flex;
    align-items: center;

    &::after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #E6E6F0;
        margin: 0 6px;
        border-radius: 50%;

        @media (max-width: map.get(bp.$grid-breakpoints, 'sm')) {
            content: none;
        }
    }
}