@use './color' as vars;

@mixin headerGrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
}

@mixin footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

@mixin logoGrid {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

@mixin infoGrid {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

@mixin menuGrid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

@mixin mapGrid {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

@mixin linksGrid {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

@mixin alingCenter {
    display: flex;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexEnd {
    display: flex;
    justify-content: flex-end;
}

@mixin burger {
    position: absolute;
    display: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    right: 15px;
}

@mixin burgerLine {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 2px;
    background-color: vars.$colorWhite;

    &:nth-child(1) {
        top: 9px;
    }

    &:nth-child(2) {
        top: 15px;
    }

    &:nth-child(3) {
        top: 21px;
    }
}

@mixin lineFooter {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: vars.$colorGrey-separator;
    top: 30px;
}

@mixin lineMenu {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
}